.header {
    background-color: #8AB8DE;
    padding: 2vh 4vw;
}

.header h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.alert {
    position: fixed;
    left: 25vw;
    top: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 4px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.mapa-img-size {
    width: 100vw;
    height: 90vh;
}

.mapa-descricao-condicoes{
    position: fixed;
    z-index: 999;
    top: 50vh;
    background-color: #E3DEDE;
    width: 92vw;
    height: 40vh;
    padding: 2vh 4vw;
}
.mapa-descricao-vetor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #000;
    padding: 2vh 0;
}

.mapa-descricao-condiçoes h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.mapa-descricao-condiçoes p {
    font-size: 1.4rem;
    font-weight: 700;
}

.mapa-descricao-condiçoes h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

.mapa-descricao-condiçoes ul {
    list-style: circle;
}

.mapa-descricao-lista {
    padding: 1vh 8vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.mapa-descricao-lista li{
    font-size: 1.5rem;
}

.footer {
    position: fixed;
    width: 92vw;
    left: 0vw;
    top: 90vh;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 4vw;
    height: 8vh;
    background-color: #8AB8DE;
}

.footer li a {
    text-decoration: none;
}

.footer .fi {
    font-size: 8vw;  
    color: #000;    
}

.fi-br-add {
    font-size: 14vw;  
    color: #000;    
}